# HELLO, THIS IS THE BEGINING OF MY TECH JOURNEY
## FOUNDATIONS OF PYTHON PROGRAMMING
### SHARON OLAITAN
#### BASIC ARITHMETICS IN PYTHON

In [1]:

8 + 9

17

In [2]:
# Addition
1 + 7

8

In [3]:
# Subtraction
50 - 26

24

In [4]:
# Multiplication
12 * 8

96

In [5]:
# Division
15 / 3

5.0

In [6]:
# Modulus/Remainder
16 % 5

1

In [2]:
7 % 3

1

In [7]:
# Power
2 ** 3

8

In [4]:
5 ** 6

15625

## PYTHON SCALAR TYPES

1. Integer
2. String
3. Float
4. Boolean

In [8]:
type(7)

int

In [6]:
type("ade")

str

In [10]:
type(3.4)

float

In [11]:
type(True)

bool

In [12]:
type(False)

bool

## Assigning Of Variables

In [13]:
x = 5

In [14]:
type(x)

int

In [15]:
y = "data science"

In [16]:
type(y)

str

In [17]:
print(x)

5

In [18]:
print(y)

data science

In [21]:
x + 10

15

In [24]:
y * 5

'data sciencedata sciencedata sciencedata sciencedata science'

## Reassignment of Variables

In [13]:
x =5

In [14]:
x = x+10

In [15]:
print(x)

15

In [16]:
x+=10

In [17]:
print(x)

25

In [28]:
"Hello World"

'Hello World'

In [30]:
intro = "My name is Peace Afolayan, I'm a python programmer"

In [31]:
len(intro)

50

### 1. Indexing
### 2. Slicing

In [32]:
z = "peace"

In [33]:
len(z)

5

In [34]:
z[-1]

'e'

In [35]:
z[2]

'a'

In [36]:
p = "science"

In [37]:
len(p)

7

In [41]:
p[-4]

'e'

In [42]:
#print ("Peace is giving [a backward slash is meant to be here]n me good vibes")
# the backward slash and 'n' in the midst of the string cuts it to the next line while a backward slash and't' gives a tab.

In [44]:
#SLICING
# this is a method of extracing a certain part of an element without necessarily taking into consideration the entire element.
a = "machine"

In [45]:
# start index corresponds to where the slice will begin
a[1:4]

'ach'

In [48]:
# stop index corresponds to where the slice will stop excluding the indexed character
# step/increment index indicates how many characters you skip as you graduate further
a[0:7:2]

'mcie'

In [49]:
word = "college"

In [50]:
word[0:4]

'coll'

In [51]:
word[0:7:3]

'cle'

In [52]:
#the slicing format; [start:stop:step]
word[2:]

'llege'

In [53]:
word[:2]

'co'

In [57]:
train = [1,2,3,4,5,6,7,8,9,0,12,13,13,14,15,13,14]

In [58]:
train[0:16:2]

[1, 3, 5, 7, 9, 12, 13, 15]

In [69]:
basic = "hello world I'm interested in artificial intelligence"

In [70]:
basic.upper()

"HELLO WORLD I'M INTERESTED IN ARTIFICIAL INTELLIGENCE"

In [71]:
basic.lower()

"hello world i'm interested in artificial intelligence"

In [72]:
basic.title()

"Hello World I'M Interested In Artificial Intelligence"

In [73]:
basic.split()

['hello', 'world', "I'm", 'interested', 'in', 'artificial', 'intelligence']

In [74]:
basic.casefold()

"hello world i'm interested in artificial intelligence"

In [68]:
basic.split("i")

["hello world I'm ",
 'nterested ',
 'n ',
 'n art',
 'f',
 'c',
 'al ',
 'ntell',
 'gence']

In [82]:
test = "this is a very long piece of text and we are going to use it for practice"

In [85]:
test[30:51]

'ext and we are going '

## FORMAT METHOD
This is used to perform string intercollation, essentially inserting a variable when printing a string

In [103]:
my_name = "Sharon"
my_number = +2347065749322
print(f"This is the first value, add {my_name} as the name")
print(f"This is the second value, add {my_number} as the number")

This is the first value, add Sharon as the name
This is the second value, add 2347065749322 as the number

In [91]:
print(my_name.upper())

SHARON

In [93]:
myName = my_name

In [94]:
myName[3:6:1]

'ron'

In [95]:
myName[:2]

'Sh'

In [1]:
myName.encode()

NameError: name 'myName' is not defined

In [104]:
print("My name is {} and \my phone number is {}".format(my_name, my_number))

My name is Sharon and my phone number is 2347065749322

In [105]:
another = ("this is a very long piece of text and we are going to use it for practice")

In [108]:
now = another[38:60:1]

In [109]:
now.capitalize()

'We are going to use it'

In [110]:
now.upper()

'WE ARE GOING TO USE IT'

In [111]:
now.lower()

'we are going to use it'

## LIST AND LOOPS
We have have learnt that strings are sequences of charaters. Similarly, lists are sequences of objects, they can hold a variety of data types in order, and they follow the same sequence and indexing bracket rules that strings do. They can also take in mixed data types. Let's explore some useful examples:

In [3]:
a = 100
b = 200
c = 300
ram = [a, b, c]

In [5]:
ram[2]

300

In [6]:
len(ram)

3

In [7]:
ram.append(9)

In [8]:
print(ram)

[100, 200, 300, 9]

In [12]:
ram.pop(2)

9

In [13]:
print(ram)

[100, 300]

In [14]:
ram.append(22)

In [15]:
ram.append(44)

In [16]:
print(ram)

[100, 300, 22, 44]

In [20]:
cow = ram.pop(2)

In [21]:
cow

44

In [25]:
ram.sort(reverse=True)

In [26]:
print(ram)

[300, 22]

In [38]:
myList = [1, 2, 3]

In [41]:
myList.insert(3, "middle")

In [45]:
myList

[1, 2, 3, 'middle', 'middle']

## NESTED LIST
Lists can hold other lists! This is called a nested list

In [46]:
newlist = [1, 2, 3, ["a", "b", "c"]]

In [47]:
newlist[3]

['a', 'b', 'c']

In [48]:
type(newlist)

list

In [49]:
newlist[3][0]

'a'

In [50]:
list1 = [2, 3, "four", [20, 30, 40, ["one", "two", "three"]]]

In [51]:
list1[3][3][1:]

['two', 'three']

### Loops
#### While Loops
A while loop will repeatedly execute a single statement or group of statements as long as the condition being checked is true. The reason it is called a 'loop' is because the code statements are looped through over and over again until the condition is no longer met.


Code indentation becomes very important as we begin to work with loops and control flow.

In [53]:
a = 1
while a < 10:
    print("a is less than 10")
    a = a + 1

a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10
a is less than 10

In [54]:
x = 0
while x < 3:
    print("x is currently")
    print(x)
    print("adding 1 to x")
    x = x + 1

x is currently
0
adding 1 to x
x is currently
1
adding 1 to x
x is currently
2
adding 1 to x

## Note This
Be careful with while loops! There is a pontential to write a condition that always remains True, meaning you have an infinite running while loop. If this happens to you, you can stop/restart the kernel. 

## Break Keyword
 The break keyword allows you to "break" out of the loop that contains the break keyword. For example;

In [104]:
x = 0
while x < 10:
    print(x)
    print("adding one to x")
    x = x + 1
    if x == 3:
    #this will cause to break out of the top loop
    #note that if statements don't count as loops
        break

0
adding one to x
1
adding one to x
2
adding one to x

## For Loop 
A For loop acts as an iterator in Python, it goes through items that are in a sequence or any other iterable item. Objects that we've learnt about that we can iterate over include strings, lists, tuples, and even built in iterables for dictionaries, such as the keys or values.

In [64]:
klist = [1, 2, 3, 4]
for num in klist:
    print(num**2)

1
4
9
16

In [12]:
type(str(True))

str

In [11]:
h = 'man'

In [ ]:
h.

In [13]:
z = ['farm', 1.67, 'trees', '1.32', '6.70"]

SyntaxError: EOL while scanning string literal (1753784445.py, line 1)

In [20]:
j = ['You are constant']

In [25]:
j [6]

IndexError: list index out of range

## FOR LOOP WITH STRINGS

In [67]:
for i in range (2, 50, 3):
    print(i)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

In [68]:
tup = (1, 2, 3)

In [134]:
r = 0
while r < 10:
    print(r)
    print("Nice One")
    r += 1
    if r == 4:
        print("Okay")
        break

0
Nice One
1
Nice One
2
Nice One
3
Nice One
Okay

In [136]:
5 - 4

1

In [137]:
5 * 5

25

In [138]:
35 / 7

5.0

In [139]:
35 / 7

5.0

In [140]:
35 % 7

0

In [141]:
36 % 7

1

In [142]:
5 ** 2

25

In [150]:
dog = 10
while dog < 20:
    print(dog)
    print("Your dog is less than 10")
    dog += 1
    if dog == 15:
        break

10
Your dog is less than 10
11
Your dog is less than 10
12
Your dog is less than 10
13
Your dog is less than 10
14
Your dog is less than 10

In [152]:
tade = [1, 2, 3, ["a", "b", "c", "d", [21, 22, "a", "b", "d"]]]

In [153]:
tade[3][4][0:]

[21, 22, 'a', 'b', 'd']

In [154]:
tade.pop(1)

2

In [155]:
print(tade)

[1, 3, ['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']]]

In [158]:
tade.append(["e", "f", "g"])

In [159]:
print(tade)

[1, 3, ['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']], ['e', 'f', 'g']]

In [166]:
tade.insert(2, [1, 2, 3])

In [167]:
print(tade)

[1, 3, [1, 2, 3], ['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']], ['e', 'f', 'g']]

In [169]:
scores = 0
while scores < 10:
    print("Your score is currently ")
    print(scores)
    print("Adding One to your score")
    scores += 1

Your score is currently
0
Adding One to your score
Your score is currently
1
Adding One to your score
Your score is currently
2
Adding One to your score
Your score is currently
3
Adding One to your score
Your score is currently
4
Adding One to your score
Your score is currently
5
Adding One to your score
Your score is currently
6
Adding One to your score
Your score is currently
7
Adding One to your score
Your score is currently
8
Adding One to your score
Your score is currently
9
Adding One to your score

In [170]:
for num in tade:
    print(2 * num)

2
6
[1, 2, 3, 1, 2, 3]
['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd'], 'a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']]
['e', 'f', 'g', 'e', 'f', 'g']

In [171]:
for anything in tade:
    print(anything)

1
3
[1, 2, 3]
['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']]
['e', 'f', 'g']

In [177]:
for num in tade:
    print(num, end=" ")

1 3 [1, 2, 3] ['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']] ['e', 'f', 'g']

In [178]:
for num in tade:
    print("Number")

Number
Number
Number
Number
Number

In [179]:
for character in tade:
    print(character, end=" # ")

1 # 3 # [1, 2, 3] # ['a', 'b', 'c', 'd', [21, 22, 'a', 'b', 'd']] # ['e', 'f', 'g'] #

In [180]:
for character in tade:
    print("Letter")

Letter
Letter
Letter
Letter
Letter

In [182]:
sola = "This is a number"

In [189]:
tupInList = [("a", "b", 1), ("c", "d", 2), ("e", "f", 3)]

In [186]:
for character in tupInList:
    print(character)

('a', 'b')
('c', 'd')
('e', 'f')

In [187]:
for hank in tupInList:
    print(hank, end=" ")

('a', 'b') ('c', 'd') ('e', 'f')

In [188]:
for d in tupInList:
    print(d[1])

b
d
f

In [201]:
for r,e,d in tupInList:
    print(r, end = " \t ")
    print(e)
    print(d, end = " \t ")

a 	 b
1 	 c 	 d
2 	 e 	 f
3

In [209]:
dict = {
    'a':1, 'b':2, 'c':3
}

In [210]:
for r in dict:
    print(r)

a
b
c

In [214]:
for r in dict.keys():
    print(r)

a
b
c

In [215]:
for s in dict.values():
    print(s)

1
2
3

# Tuples
Tuples are ordered sequenes just like a list, but have ione major difference, they are immutable. Meaning you can not change them. So in practice, what does this actually mean? It means you can not reassign an item once in its tuple, unlike a list, where you can do a reassignment.

## Creating a Tuple
You use parenthesis and commas for tuples:

In [221]:
seta = ["thriller", "rock", "pop", "r&b", "blues", "pop", "r&b", "solo"]

In [222]:
print(seta)

['thriller', 'rock', 'pop', 'r&b', 'blues', 'pop', 'r&b', 'solo']

In [223]:
album_set = set(seta)

In [224]:
print(album_set)

{'rock', 'blues', 'r&b', 'thriller', 'solo', 'pop'}

In [225]:
setb = {"loo", "how", "mei", "gracias", "merci", "mei", "loo"}

In [226]:
print(setb)

{'merci', 'how', 'mei', 'gracias', 'loo'}

In [229]:
setc = list(setb)

In [230]:
print(setc)

['merci', 'how', 'mei', 'gracias', 'loo']

In [233]:
setc.insert( 0, "ijcdjc")

In [234]:
print(setc)

['ijcdjc', 'merci', 'how', 'mei', 'gracias', 'loo']

# Dictionary
So far we've only seen how to store data types in sequences like storing characters in a string or items in a
list. But what if we want to store information another way? Python support Dictionaries which is a key-item data
structure.
The choice of deciding between sequences like a list and mappings like a dictionary often depends on the
specific situation. As you become a stronger programmer, choosing the right storage format will become more
intuitive.
Let's cover the basics of dictionaries!

In [235]:
"merci" in setc

True

In [236]:
"why" in setc

False

# FUNCTIONS IN PYTHON
Functions are used to break big computer programs into a couple of chunks which helps to organise the program. It is really exciting because you can write a couple of codes and pass it in a function, and then you keep calling the function always rather than the entirety of the written codes.

### Certain Things To Be Aware Of
1. Functions always begin with the keyword "def", which literally means that you are defing a function.
2. The name of the function can be anything, however, it should be related to the action of the function.
3. As with any built-in function, it must come with a parenthesis after the function name.
4. A colon then follows.

Any line of function that follows is therefore included in the function.

In [237]:
def my_guy():
    print("I like hanging out with my guys")

In [239]:
my_guy()

I like hanging out with my guys

In [240]:
def bitcoin_to_usd(btc):
    answer = btc * 685
    print(answer)

In [241]:
bitcoin_to_usd(375.5)

257217.5

In [242]:
def usd_to_naira(usd):
    answer = usd * 650
    print(answer)

In [243]:
usd_to_naira(750)

487500

In [244]:
def allowed_dating_age(my_age):
    girls_age = my_age/3 + 10
    return girls_age

In [245]:
allowed_dating_age(50)

26.666666666666668

In [ ]:
def allowed_dating_age(my_age):
    for my_age_in_range(15, 60):
        girls_age

## Default Values for argument

In [251]:
def get_gender(sex):
    if sex == "m":
        sex = "Male"
    elif sex == "f":
        sex = "female"
    print(sex)

In [252]:
get_gender("f")

female

In [ ]:
def get_gender(sex = "Unknown"):
    if sex == "m":
        sex = "Male"
    elif sex

In [253]:
x = "I am enjoying this class"
def func(x):
    print(x)
def function(x):
    print(x)

In [254]:
func(x)

I am enjoying this class

## Flexible Number of Arguments

In [255]:
def add_numbers(num1, num2):
    total = num1 + num2
    return total

In [258]:
add_numbers(5,6)

11

In [263]:
def add_numbers(*args):
    total = 0
    for i in args:
        total += i
    print(total)

In [264]:
add_numbers(10354, 2, 0.39, 10)

10366.39

## Unpacking Arguments

In [ ]:
def health_calculator(age, litres_of_water, cigs_smoked, excercise_done):
    expectancy

# EXERCISE

In [282]:
def damage(damage, speed, attacks_per_second):
    if damage<0 or speed<0:
        print(Invalid)
    if attacks_per_second == "second":
        attacks_per_second = 1
    elif attacks_per_second == "minute":
        attacks_per_second = 60
    elif attacks_per_second == "hour":
        attacks_per_second = 3600
    amount = damage * speed * attacks_per_second
    return amount

In [284]:
damage(23, 30, "hour")

2484000

In [5]:
def okay(bb):
    h = bb * 7
    return h

In [1]:
def nairaConverter(usd):
    amount = usd * 600
    if amount <= 100000:
        print(f"Your Dollar amount is {usd}")
        print(f"Your current amount in dollars {amount}")
        print("Unfortunately, you are still poor.")
    elif amount > 100000  and amount < 200000:
        print(f"Your Dollar amount is {usd}")
        print(f"Your current amount in naira is {amount}")
        print("Not bad, you're coming up.")
    else:
        print(f"Your Dollar amount is {usd}")
        print(f"Your current amount in naira is {amount}")
        print("Wow, you are rich!")

In [2]:
nairaConverter(300)

Your Dollar amount is 300
Your current amount in naira is 180000
Not bad, you're coming up.

In [9]:
def convert():
    food = "Indomie"
    print(food)

In [10]:
convert()

Indomie

In [11]:
def usdConverter(usd):
    value = usd * 600
    print(value)

In [12]:
usdConverter(50)

30000

In [22]:
def datingAge():
    yourAge = int(input("Kindly specify your age: "))
    girlAge = yourAge / 2 + 7
    print(f"Your age is {yourAge}")
    print(f"The age you are allowed to date is {girlAge}")

In [23]:
datingAge()

Kindly specify your age: 66
Your age is 66
The age you are allowed to date is 40.0

In [48]:
def marriageAge():
    myAge = int(input("Kindly specify your age: "))
    if myAge < 20:
        print("You are ineligible to get married")
    elif myAge > 20 and myAge < 30:
        print("You are still too young to get married")
    else:
        print("You are old enough")

In [32]:
def allowedAge(theAge):
    if theAge in range(10,40):
        print("Congratulations!")
    elif theAge in range(50,80):
        print("Double congratulations")
    else:
        print("Sorry")

In [33]:
allowedAge(100)

Sorry

In [37]:
def marriageAge(age):
    if age in range(40,80):
        print(f"You are currently {age} years old")
        print("Therefore, you can get married!")
    elif age < 40:
        print(f"Your are currently {age} years old")
        print(f"Therefore, you cannot get married")
    else:
        print(f"You are currently {age} years old and you can get married!")

In [41]:
marriageAge(20)

Your are currently 20 years old
Therefore, you cannot get married

In [66]:
def gender(sex="Unknown"):
    print(sex)
    if sex == "m":
        print("You are male")
    elif sex == "f":
        print("You are a female")
    #else:
        #print("You are an alien")

In [67]:
gender()

Unknown

In [20]:
def BMI_calculator():
    height = int(input("Your height: "))
    weight = int(input("Your weight: "))
    bmi = height / (weight * 2)
    print(bmi)

In [21]:
BMI_calculator()

Your height: 88
Your weight: 456
0.09649122807017543

In [54]:
def smaller_num(x, y): ## Can be rephrased to  def smaller_num(x, y):
    if x > y:          ##                          if x > y:
        number = y     ##                              return y
    else:              ##                          else:
        number = x     ##                              return x
    return number

x = input("Enter first number:-")
y = input("Enter second number:-")
result = smaller_num(x, y)
print("The smaller number between " +  str(x) + " and " + str(y) + " is " + str(result))

Enter first number:-66
Enter second number:-44
The smaller number between 66 and 44 is 44

In [55]:
def BMI_calculator(height, weight):
    bmi = height / (weight * 2)
    return bmi

height = int(input('Kindly input your height: '))
weight = int(input('Kindly input your weight: '))
bmi = BMI_calculator(height,weight)
print('Your BMI is {}'.format(bmi))

Kindly input your height: 55
Kindly input your weight: 53
Your BMI is 0.5188679245283019

In [61]:
def calcFunc(age, weight):
    calc = age * weight
    return calc
age = int(input("Please input your age: "))
weight = int(input("Please input your weight: "))
calc = calcFunc(age, weight)
print(f"Your age is {age}, your weight is {weight} and the total is {calc}")

Please input your age: 60
Please input your weight: 46
Your age is 60, your weight is 46 and the total is 2760

In [89]:
def damagePerSecond(val1, val2, val3):
    
    if val3 == "seconds":
        val3 = 1
        damage = val1 * val2 * val3
        return damage
        
    elif val3 == "minutes":
        val3 = 60
        damage = val1 * val2 * val3
        return damage
        
    elif val3 == "hours":
        val3 = 3600
        damage = val1 * val2 * val3
        return damage
        
    else: 
        print("Invalid input!, please insert either 'seconds', 'minutes' or 'hours'. Try again.")
        
val1 = int(input("Specify the first damage:- "))
val2 = int(input("Specify the second damage:- "))
val3 = str(input("Specify the time taken in minutes, seconds or hours:- "))
damage = damagePerSecond(val1, val2, val3)
print(f"Your first damage is {val1}")
print(f"Your second damage is {val2}")
print(f"The time specified is in {val3}")
print(f"Therefore, damage received per minute is {damage}")

Specify the first damage:- 3
Specify the second damage:- 5
Specify the time taken in minutes, seconds or hours:- hours
Your first damage is 3
Your second damage is 5
The time specified is in hours
Therefore, damage received per minute is 54000

In [43]:
userInput = str(input("Input any string of words, preferably more than one...:-"))
words = userInput.split()
acr = ""
for word in words:
    acr = acr + word[0].upper()
    
print(acr)

Input any string of words, preferably more than one...:-The Best Data Science In Nigeria
TBDSIN

In [47]:
getInput = str(input("What do you want to abbreviate?: "))
wordLi = getInput.split()
arc = ""
for wordEl in wordLi:
    arc = arc + wordEl[0].upper()
print(arc)

What do you want to abbreviate?: Fix Nigeria Agenda
FNA

In [8]:
x = 0
while x < 100:
    x += 2
print(x)

100